<app-menu></app-menu>
<div class="container">
    <div class="row mt-5">
        <div class="col-md-4 mx-auto">
            <form (ngSubmit)="onCreate()" novalidate #f="ngForm">
                <div class="form-group ">
                    <label for="ean">Ean</label>
                    <input type="text" class="form-control" id="ean" name="ean"
                    [(ngModel)]="ean" required>
                </div>
                <div class="form-group mt-3">
                    <label for="nombre">Nombre</label>
                    <input type="text" class="form-control" id="nombre" name="nombre"
                    [(ngModel)]="nombre" required>
                </div>
                <div class="form-group mt-3">
                    <label for="precio">Precio</label>
                    <input type="number" class="form-control" id="precio" name="precio"
                    [(ngModel)]="precio" required>
                </div>
                <div class="form-group mt-3">
                    <label for="cantidad">Cantidad</label>
                    <input type="number" class="form-control" id="cantidad" name="cantidad"
                    [(ngModel)]="cantidad" required>
                </div>
                <div class="form-group mt-3">
                    <label for="idproveedor">Proveedor</label>
                    <select class="form-control" id="proveedor" name="proveedor" [(ngModel)]="nombreProveedorSeleccionado" required>
                        <option value="">Seleccionar proveedor</option>
                        <option *ngFor="let proveedorItem of proveedores" [value]="proveedorItem.nombre">{{ proveedorItem.nombre }}</option>
                    </select>                     
                </div>
                
                  
                  
                <div class="d-grid gap-2">
                    <button class="btn btn-outline-primary mt-3 rounded-pill" [disabled]="!f.valid">Crear</button> 
                </div>
            </form>
        </div>
    </div>
</div>